<p>Hi {{ name }},</p>

<p><strong>Your verfication code is:</strong></p>

<h2>{{ code }}</h2>

<p>Enter this code on login page to verify your identity</p>

<p>This code is valid for {{ expireMinutes }} minutes.</p>

<p>If you didn't make this request, ignore this email.</p>

<table>
  <tr>
    <th>Date</th>
    <td>{{ date }}</td>
  </tr>
  <tr>
    <th>IP Address</th>
    <td>{{ ip }}</td>
  </tr>
</table>
