<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}

  <fieldset>
    <label for="user-id">
      <span>User ID</span>
      <input type="number" name="userId" id="user_id" required="required" placeholder="Enter User ID" />
    </label>
  </fieldset>

  <fieldset>
    <label>
      <button type="submit">Add Member to Group</button>
    </label>
  </fieldset>

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>
