<form action="{{ action }}" method="post">

  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}

  <fieldset>
    <label for="nickname">
      <span>Nickname</span>
      <input type="text" name="nickname" id="nickname" required="required" autocomplete="nickname" autofocus />
    </label>

    <label>
      <span>Email address for this user.</span>
      <input type="email" name="email" required="required" autocomplete="email" />
    </label>

    <label class="checkbox">
      <span>Mark email as validated.</span>
      <input type="checkbox" name="markEmailValid" checked />
    </label>

    <label class="checkbox">
      <span>Auto-generate random password</span>
      <input type="checkbox" name="autoGeneratePassword" />
    </label>
  </fieldset>

  <fieldset>
    <label>
      <button type="submit">Create New User</button>
    </label>
  </fieldset>

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}"/>
  {{/each}}

</form>
