<form action="{{ action }}" method="post">

  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}

  <fieldset>
    <label for="nickname">
      <span>Nickname</span>
      <input type="text" name="nickname" id="nickname" required="required" autocomplete="nickname" autofocus />
    </label>

    <label>
      <span>Email address for this user. This is not required for creating the user, but may be needed to allow the user to be logged in.</span>
      <input type="email" name="email" required="required" autocomplete="email" />
    </label>

    <label class="checkbox">
      <span>Mark email as valididated. If not set it means the user will need to pass a validation challenge before logging in.</span>
      <input type="checkbox" name="markEmailValid" />
    </label>
  </fieldset>

  <fieldset>
    <label>
      <button type="submit">Create New User</button>
    </label>
  </fieldset>

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}"/>
  {{/each}}

</form>
