<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg info">
    <i class="material-icons">info</i>
    <span>{{ msg }}</span>
  </div>
  {{/if}}
  {{# if error}}
  <div class="msg error">
    <i class="material-icons">warning</i>
    <span>{{ error }}</span>
  </div>
  {{/if}}
  <fieldset class="form-inputs">
    <label for="username">
      <span><i class="material-icons" aria-label="E-mail address">person_outline</i></span>
      <input type="email" name="userName" id="username" required placeholder="Enter email address" autocomplete="email" />
      <span class="feedback invalid">
        <i class="material-icons" title="This is not a valid email address" data-error="malformat">info</i>
      </span>
    </label>

    <label for="password">
      <span><i class="material-icons" aria-label="password">vpn_key</i></span>
      <input type="password" name="password" id="password" required="required" placeholder="Enter password" autocomplete="current-password" />
      <span class="feedback invalid">
        <i class="material-icons" title="This is not a valid password" data-error="malformat">info</i>
      </span>
      </label>
  </fieldset>

  <fieldset class="form-controls">
    <label>
      <button type="submit">Login</button>
    </label>
    <p class="login-options">
    {{#if registrationEnabled}}
      <a href="/register">Register</a>
    {{/if}}
      <a href="/reset-password">Forgot Password</a>
    </p>
  </fieldset>

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}
</form>
