<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}
  <fieldset>
    <label for="username">
      <span>Email</span>
      <input type="email" name="userName" id="username" required placeholder="Enter email address" autocomplete="email" />
    </label>

    <label for="password">
      <span>Password</span>
      <input type="password" name="password" id="password" required="required" placeholder="Enter password" autocomplete="current-password" />
    </label>

    {{#if totpEnabled}}
    <label for="totp">
      {{#if totpRequired}}
      <span>TOTP code  <em>(required)</em></span>
      <input type="text" name="totp" class="totp" id="totp" placeholder="Enter TOTP code (required)" required="required" autocomplete="one-time-code" />
      {{else}}
      <span>TOTP code  <em>(if set)</em></span>
      <input type="text" name="totp" class="totp" id="totp" placeholder="Enter TOTP code" autocomplete="one-time-code" />
      {{/if}}
    </label>
    {{else}}
    {{/if}}

  </fieldset>
  <fieldset>
    <label>
      <button type="submit">Login</button>
    </label>
    <p class="login-options">
    {{#if registrationEnabled}}
      <a href="/register">Register</a>
    {{/if}}
      <a href="/reset-password">Forgot Password</a>
    </p>
  </fieldset>

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}
</form>
