<form action="{{ action }}" method="post">

  {{#if logoUrl}}
    <!-- show app logo -->
    <fieldset><img src={{logoUrl}} style="max-width: 100%"/></fieldset>
    {{#else}}
    
    <!-- show curveball logo -->
    <fieldset style="background: #1e88e5;">
      <img src="https://curveballjs.org/assets/images/logo.svg" style="max-width: 100%"/>
    </fieldset>
    {{/else}}
  {{/if}}

  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}
  <fieldset>
    <label for="username">
      <span>Email</span>
      <input type="email" name="userName" id="username" required placeholder="Enter email address" autocomplete="email" />
    </label>

    <label for="password">
      <span>Password</span>
      <input type="password" name="password" id="password" required="required" placeholder="Enter password" autocomplete="current-password" />
    </label>

  </fieldset>
  <fieldset>
    <label>
      <button type="submit">Login</button>
    </label>
    <p class="form-options">
    {{#if registrationEnabled}}
      <a href="/register">Register</a>
    {{/if}}
      <a href="/reset-password">Forgot Password</a>
    </p>
  </fieldset>

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}
</form>
