<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}
  <fieldset>
    <label>
      <button type="submit">Logout</button>
    </label>
  </fieldset>
  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}
</form>
