<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg info">
    <i class="material-icons">info</i>
    <span>{{ msg }}</span>
  </div>
  {{/if}}
  {{# if error}}
  <div class="msg error">
    <i class="material-icons">warning</i>
    <span>{{ error }}</span>
  </div>
  {{/if}}
  <fieldset>
    <label>
      <button type="submit">Logout</button>
    </label>
  </fieldset>
  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}
</form>
