<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg info">
    <i class="material-icons">info</i>
    <span>{{ msg }}</span>
  </div>
  {{/if}}
  {{# if error}}
  <div class="msg error">
    <i class="material-icons">warning</i>
    <span>{{ error }}</span>
  </div>
  {{/if}}
  <fieldset>
    <p>You forgot your password! Don't worry, it happens to the best of us.</p>
    <p>Please enter your email below, and if we have a record of you, we will send you an email that allows you to reset your password!</p>

    <label for="emailAddress">
      <span>Email</span>
      <input type="email" name="emailAddress" id="username" required="required" placeholder="Enter email address" />
      <span class="feedback invalid">
        <i class="material-icons" title="This is not a valid email address" data-error="malformat">info</i>
      </span>
    </label>
  </fieldset>

  <fieldset>
    <label><button type="submit">Reset Password</button></label>
    <p>
      <a href="/login">cancel</a>
    </p>
  </fieldset>

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>