<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}
  <fieldset>
    <label for="new-password">
      <span>New Password</span>
      <input type="password" name="newPassword" id="new-password" required="required" placeholder="Enter new password"/>
    </label>

    <label for="confirm-password">
      <span>Confirm New Password</span>
      <input type="password" name="confirmNewPassword" id="confirm-password" required="required" placeholder="Confirm new password"/>
    </label>
  </fieldset>
  <fieldset>
    <label><button type="submit">Reset password</button></label>
    <p class="form-options"><a href="/">Cancel</a></p>
  </fieldset>

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>
