<form action="{{ action }}" method="post">
 {{# if msg}}
  <div class="msg info">
    <i class="material-icons">info</i>
    <span>{{ msg }}</span>
  </div>
  {{/if}}
  {{# if error}}
  <div class="msg error">
    <i class="material-icons">warning</i>
    <span>{{ error }}</span>
  </div>
  {{/if}}
  <fieldset>
    <label for="new-password">
      <span>New Password</span>
      <input type="password" name="newPassword" id="new-password" required="required" placeholder="Enter new password"/>
      <span class="feedback invalid">
        <i class="material-icons" title="This is not a valid email address" data-error="malformat">info</i>
      </span>
    </label>

    <label for="confirm-password">
      <span>Confirm New Password</span>
      <input type="password" name="confirmNewPassword" id="confirm-password" required="required" placeholder="Confirm new password"/>
    </label>
  </fieldset>
  <fieldset>
    <label><button type="submit">Reset password</button></label>
  </fieldset>

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>
