<form action="{{ action }}" method="post">
  
  {{# if msg}}
  <div class="msg info">{{ msg }}</div>
  {{/if}}
  {{# if error}}
  <div class="msg error">{{ error }}</div>
  {{/if}}
  <fieldset>
    <label for="username">
      <span>User name</span>
      <input type="email" name="username" id="username" required autofocus disabled value="{{ username }}" />
    </label>
    <label for="username">
      <span>Password</span>
      <input type="password" name="password" id="password" autocomplete="current-password"/>
    </label>

  </fieldset>
  <fieldset>
    <label>
      <button type="submit">Login</button>
    </label>
    <p class="form-options">
      <a href="{{ resetPasswordUri }}">Forgot Password</a>
    </p>
  </fieldset>

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}
</form>
